@import "@fontsource/figtree/300.css";
@import "@fontsource/figtree/400.css";
@import "@fontsource/figtree/500.css";
@import "@fontsource/figtree/600.css";
@import "@fontsource/figtree/700.css";
@import "tailwindcss";
@import "tw-animate-css";

html,
body {
  background-color: #f5f3f7;
}

*,
html,
body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes message-card-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
